.content__mensaje{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.mensaje{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
}
.mensaje > p {
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    .mensaje {
        line-height: normal;
    }
  }