@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
    
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    width: 200px;
    height: 200px;
    background-color: rgb(127, 143, 149);
    margin: 20px;
    border-radius: 10px;
}
.card {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry contain 10%;
   
}