*{
  margin: 0;
}

html{
  font-family: 'Big Shoulders Display', cursive;
  
/*   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 100px);
  position: relative;
  left: 100px;
}
@media only screen and (max-width: 768px) {
  .App{
    width: 100%;
    left: 0;
  }
}

