@font-face {
    font-family: "Big Shoulders Display";
    src: local("Big Shoulders Display"),
     url("./fonts/BigShouldersDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: bold;
    }

  