:root{
    /* 
Paleta de colores
#ff8f4b --- orange
#f1bc52 --- yellow
#9ad3da --- skyblue
#00a8a8 --- bluesea
#03444a --- bluedark

*/
/* --blueDark: #03444a;
--blueDarkx2: #033f44;
--blueSea: #00a8a8;
--blueSky: #9ad3da;
--yellowGold: #f1bc52;
--orangePeach: #ff8f4b; */



--blueDark: #313332;
--blueDarkx2: #2b2408;
--orangePeach: #17bdcb; /*#17bdcb */ /* #bd185a */




    
}

/* Estas propiedades modifican el scroll */

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar:hover{
    width: 10px;
  } 
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--yellowGold);
    background: var(--orangePeach);

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blueDark);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--orangePeach);
  }