@import '../../variables.css';
.content-profile {
    display: flex;
    justify-content: center;
    z-index: -100;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: -100;
    margin-bottom: 40px;
}

.profile > div > img {
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
    padding: 4px;
    margin-right: 100px;
    border: 6px solid var(--blueDark);
}
.scaleImage{
    width: 10em;
    height: 13em;
    animation: scaleImg 5ms linear;
}
@keyframes scaleImg {
    from {
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}
.title-profile{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.title-profile > h2{
    border-bottom: 1px solid var(--blueDark);
}
.profile-body{
    max-width: 450px;
    margin-left: 10px;
}
h2{
    color: var(--orangePeach);
}
.profile-facts{
    display: flex;
    flex-direction: column;
}
main{
    margin: 0 10px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .profile{
        margin-top: 20px;
    }
}